

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "portfolio.css">
    <title>  Hunter Rasmussen </title>
    <link rel = "icon" type = "image/png" href = "SVG/rounded_dark.svg">
    
</head>


<body>
    <div id="root" >
      <canvas ref = "canvas" id ="canvas">

      </canvas>
      <div v-if="pageLoaded" id = "header">
        <div ref="myMenu" id = "">
          <ul ref = "menuItems" id = "notMenuItems">
              <li>
                <div id = "menuItem1">
                  <!-- v-on:mouseover = "menuItem1Hover = true" v-onmouseleave = "menuItem1Hover = false"> -->
                  <a href="index.html">
                    <h1>Home</h1>
                  </a>
                </div>
              </li>
              <li>
                <div id = "menuItem3">
                  <a href = "about.html">
                    <h1>About</h1>
                  </a>
                </div>
              </li>
              <li>
                <div id = "artworkListItem" ref = "artworkListItem">
                      <a href = "artwork.html">
                        <h1>Artwork</h1>
                      </a>
              </li>
              <li>
                <div id = "menuItem4">
                  <a href = "videos.html">
                    <h1>Videos</h1>
                  </a>
                </div>
              </li>
          </ul>
        </div>
        <h4 id = "nameMastHolder">
          <div id = "nameHolder">          
              <h1 id = "firstName" ref = firstName>Hunter </h1>
              <h1 id = "lastName" ref = lastName>Rasmussen</h1>
              <img id = "mastImage" ref = mastImage src = "images/hunter1.png" ></img>
          </div>
        </h4>
        <div id = mastImageContainer>
        </div>
        <div id="menu_button" v-on:mouseover = "hoverMenu = true" v-on:mouseleave = "hoverMenu = false" v-on:click = "showMenuFunction">
          <div v-if="!showMenu">

            <div v-if="hoverMenu" id = "hoverMenu_true">
              <p>{{menuhover}}</p>
            </div>
            <div v-else-if="!hoverMenu" id = "hoverMenu_false">
              <p>{{menu}}<p>
            </div>
          </div>
          <div v-else-if="showMenu" id ="showingMenu">
            <p>{{menuDown}}</p>
          </div>
        </div>
        <a href="index.html">
          <img id = "logo" src = "SVG/rounded_dark.svg" height = "40px"
                          ref = "mainLogo">
        </a>
      </div>
      
    <div id = "postMast">
      <section>
        <div id = "miniBio">
          <div id = "portraitHolder">
            <img src = "images/cropped_portrait_me_circle.png" id = "portrait"></img>
          </div>
          <p id = "aboutme">Hi!  I'm Hunter.  Sometimes, I like to go by Hans or Bunther. I like to learn new things, code, and create art.</p>
        </div>
      </section>
  </div>

  <div id = "footerWrapper">
    <div id = "footer">
      <a href="https://www.linkedin.com/in/hunter-rasmussen-2432a66b?trk=people-guest_people_search-card" class="fa fa-linkedin" id = "footerLink"></a>
      <a href="https://twitter.com/razdoctor" class="fa fa-twitter"  id = "footerLink"></a>
      <a href="https://github.com/HunterRasmussen"><img src = "./images/GitHub-Mark-Light-32px.png" id = "githubLink"></img></a>
      <p id = "footerNameplate">Hunter Rasmussen | 2020 | hunterhrasmussen@gmail.com</p>
     </div>
   </div>

      <!-- <div id = "nameToggle">
        <div id = "spinnerHolder">
          <div id = spinnerAligner v-on:mouseover = "nameDescriptionHover = true" 
              v-on:mouseleave = "nameDescriptionHover = false">
            <h1 ref = "spinnerRef" id = "nameSpinner"  
              v-on:click = "nameSpin" 
              >
              {{nameSpinnerOptions[curSpinnerIndex]}}
            </h1>
          <h1 id = "nameSuffix">ER</h1>
          </div>
        </div>
        <p v-if="nameDescriptionHover">{{nameSpinnerDescriptions[curSpinnerIndex]}}</p>
      </div> -->

      <!-- <div id = "homePageAboutMeContainer">
        <h1>aboutme</h1>
      </div>
    </div> -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 <script src="vue.js"></script>
</body>

</html>
