body {
	background-color : white;
	margin: 0px;
}

#header {
		background: linear-gradient(to right, #b5d1ff , #360082);
    height: 700px;
    width: 100%;

}

#logo{
	position: absolute;
	left: 50%;
	top: 70px;
	opacity: .6;
	transition: 0.2s;
	transition-delay: .4s;
	transition-timing-function: ease-in-out;
}

#logoWithMenu{
	position: absolute;
	left: 50%;
	top: 50px;
	opacity: .6;
	transition: 0.2s;
	transition-delay: .2s;
	transition-timing-function: ease-in-out;

}


#menu {
		margin-left: 5%;
		padding-top: 5%;
}

#menu_button {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 150px;
	text-align: center;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 150px;
	letter-spacing: 6px;
}

#hoverMenu_false{

	transition: .25s;
}

#hoverMenu_true{
	transform: rotate(90deg);
	transition: .25s;

}

#showingMenu {
	transform: rotate(90deg);
	transition: .25s
}

#hoverMenu_true p {
	text-shadow: 2px 2px 6px #4e4e4e;
	font-size: 12px;
	transition: .25s;

}


#hoverMenu_false p {
	font-size: 12px;
	transition: .25s;
	text-orientation: upright;
}

#showingMenu p {
	font-size: 12px;
	transition: .25s;
	text-orientation: upright;
}

#showingMenu p:hover{
	text-shadow: 2px 2px 6px #4e4e4e;
	font-size: 12px;
}


#menuDropDown{
  width: 115%;
  height: 500px;
  background-color: white;
  padding: none;
  animation-name: menuBounce;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  cubic-bezier(.215,.61,.355,1)
  /*transition: translateY 2s;*/


}

#menuHidden{
	width: 115%;
	height: 500px;
	background-color: white;
	padding: none;
	animation-name: hideMenu;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

#notMenuItems{
	visibility: hidden;
	position: absolute;
}

#menuItems{
	position: absolute;
	left: 7%;
	top: 20%;
	line-height: 50px;
	list-style-type: none;



}

#menuItems li{
	animation-name: fadeInRight;
	animation-duration: 2s;
}

 li:nth-child(1){
	opacity: 0;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
#menuItems li:nth-child(2){
	opacity: 0;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;

}
#menuItems li:nth-child(3){
	opacity: 0;
	animation-delay: 1.4s;
	animation-fill-mode: forwards;

}
#menuItems li:nth-child(4){
	opacity: 0;
	animation-delay: 1.6s;
	animation-fill-mode: forwards;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------Animations---------------------------------*/
/*----------------------------------------------------------------------------*/

@keyframes menuBounce {
  0%,15%{
    transform: translateY(-100%);  /*starts not visible*/
  }
  40%{  /*left corner hits the bottom*/
    animation-timing-function: cubic-bezier(.28,.01,1,.56);
    transform: rotateZ(-6deg) skewX(-6deg) translate(-1%,-20%);
  }
  45%,48%{ /*left corner bounces up a bit and right corner starts to fall*/
    /*animation-timing-function: linear;*/
		animation-timing-function: ease-in;
    transform: rotateZ(-4deg) skewX(-4deg) translate(-1%,-12%);
  }
  55%{
    animation-timing-function: cubic-bezier(.44,0,1,.56);
    transform: rotateZ(-5deg) skewX(-5deg) translate(-1%,-15%);
  }
  70%{
    animation-timing-function: cubic-bezier(.44,0,1,.56);
    transform: translateY(0%)
  }
  100%{
    /*animation-timing-function: cubic-bezier(.44,0,1,.56);*/
		animation-timing-function: ease-in;
    transform: translateY(0%)
  }

}

@keyframes hideMenu {
	0%{
		transform: translateY(0%);
	}
	20%{
		transform: scaleY(1.2);
	}
	100%{
		animation-timing-function: linear;
		transform: translateY(-100%);
	}
}

@keyframes fadeInRight {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

/*----------------------------------------------------------------------------*/
/*---------------------------------END Anims----------------------------------*/
/*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*/
/*---------------------------------OLD PORT-----------------------------------*/
/*----------------------------------------------------------------------------*/


p {
	font-family: verdana;
	font-size: 14px;
	font-color: black;
}



nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

nav li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #3779a3;
	color: white
}
