body {
	background-color : white;
	margin: 0px;
}


#header {
		background: linear-gradient(to right, #b5d1ff , #360082);
		/* height: 700px; */
		height:100vh;
    width: 100%;

}

#nameMastHolder{
	display: inline-block;
}

#nameHolder{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 1vh;
	display: inline-block;
}

/*----------------------------MY NAME--------------------------
--------------------------------------------------------------
---------------------------------------------------------------*/
#myName {
	color: #1e1e1e;
	/* position: absolute; */
	width: auto;
	padding-left: 10%;
	padding-top: 25%;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-style: bold;
	float: left;
	/* clear: left; */
	/* font-size: calc([14px] + 
					([maximum size] - [minimum size]) * 
					((100vw - [minimum viewport width]) / 
					([maximum viewport width] - [minimum viewport width]))); */
	font-size: calc(32px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));
	/* text-align: center; */
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.0000em;
	cursor: default;
	/* filter: drop-shadow(7px -3px 4px #000000); */
	animation-name: showMyName;
	animation-duration: 1.0s;
	animation-delay: 0.0s;
	animation-fill-mode: forwards;
	/* cubic-bezier(.215,.61,.355,1) */
}
@keyframes showMyName {
	0%{
		transform: translateY(-80%);
		opacity: 0;
	}
	50%{
		transform: translateY(-10%);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}



#mastImage{ 
	height: 65vh; 
	width: auto;
	float: right;
	clear: right;
	/* display: inline; */
	margin-top: 12%;
	padding-right: 7%;
	filter: drop-shadow(10px 7px 8px #000000);
	animation-name: showMyName;
	animation-duration: 1.0s;
	animation-delay: 0.0s;
	animation-fill-mode: forwards;
	/* cubic-bezier(.215,.61,.355,1) */
}


#myNameWithMenu{

	color: #1e1e1e;
	/* position: absolute; */
	width: auto;
	padding-left: 10%;
	padding-top: 25%;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-style: bold;
	float: left;
	/* clear: left; */
	/* font-size: calc([14px] + 
					([maximum size] - [minimum size]) * 
					((100vw - [minimum viewport width]) / 
					([maximum viewport width] - [minimum viewport width]))); */
	font-size: calc(32px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));
	/* text-align: center; */
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.0000em;
	cursor: default;
	/* filter: drop-shadow(7px -3px 4px #000000); */	
	opacity: 0;
	animation-name: hideMyName;
	animation-duration: 1.0s;
	animation-delay: 0.0s;
	animation-fill-mode: forwards;
	/* cubic-bezier(.215,.61,.355,1) */
}

#mastImageWithMenu{
	opacity: 0;
	height: 0vh; 
	width: auto;
	float: right;
	clear: right;
	margin-top: 12%;
	padding-right: 7%;
	filter: drop-shadow(10px 7px 8px #000000);
	animation-name: hideMyName;
	animation-duration: 1.0s;
	animation-delay: 0.0s;
	animation-fill-mode: forwards;

}
@keyframes hideMyName {
	0%{
		transform: translateY(0px);
		opacity: 1;
	}
	50%{
		transform: translateY(-10%);
		opacity: 0;
	}
	100%{
		transform: translateY(-80%);
		opacity: 0;
	}
}



#canvas{
	/*background-color: black;*/
	/*opacity: 0;*/
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0%;
	top: 0%;
	pointer-events: none;
}

#logo{
	position: absolute;
	left: 50%;
	top: 70px;
	opacity: .6;
	transition: 0.2s;
	transition-delay: .4s;
	transition-timing-function: ease-in-out;
}

#logoWithMenu{
	position: absolute;
	left: 50%;
	top: 50px;
	opacity: .6;
	transition: 0.2s;
	transition-delay: .2s;
	transition-timing-function: ease-in-out;

}


/*----------------------------Menu----------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
---------------------------------------------------------------*/


#menu {
		margin-left: 5%;
		padding-top: 5%;
}

#menu_button {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 150px;
	text-align: center;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 150px;
	letter-spacing: 6px;
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	cursor: pointer;
}

#hoverMenu_false{
	transition: .25s;
	font-size: 220px;
}

#hoverMenu_true{
	transform: rotate(90deg);
	transition: .25s;

}

#showingMenu {
	transform: rotate(90deg);
	transition: .25s
}

#hoverMenu_true p {
	text-shadow: 2px 2px 6px #4e4e4e;
	font-size: 1.5vw;
	transition: .25s;

}


#hoverMenu_false p {
	font-size: 1.5vw;
	/* font-size: 18px; */
	transition: .25s;
	text-orientation: upright;
}

#showingMenu p {
	font-size: 1.5vw;
	/* font-size: 18px; */
	transition: .25s;
	text-orientation: upright;
}

#showingMenu p:hover{
	text-shadow: 2px 2px 6px #4e4e4e;
	font-size: 1.5vw;
}


#menuDropDown{
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: none;
  animation-name: menuBounce;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  /* cubic-bezier(.215,.61,.355,1) */
  transition: translateY 2s;


}

#menuHidden{
	width: 100%;
	height: 500px;
	background-color: white;
	padding: none;
	animation-name: hideMenu;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

#notMenuItems{
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

#menuItems{
	position: absolute;
	left: 7%;
	top: 20%;
	min-width: 35%;
	line-height: 8.3vh;
	list-style-type: none;
}

#menuItems li{
	/* min-width: 50%;
	min-height: 10%; */
	animation-name: fadeInRight;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vw;


}

#menuItems a{
	text-decoration: none;
	color: inherit;
	transition:  .5s;
}

#menuItem1 :hover{
	/* transform: translateX(10%); */
	filter: drop-shadow(30px 10px 4px #6e51ff);
	cursor: pointer;
	transition: .5s;
}

#ArtworkTag{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
	cursor: default;
}



#ThreeDLink{
	/* float:left; */
	/* position: absolute; */
	display: inline;
	top: 1px;
	left: 140px;
	padding-left: 20px;
	filter: none;
	transition: .5s;
}
#ThreeDLink :hover{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
}

#TwoDLink{
	/* float:left; */
	/* position: absolute; */
	display: inline;
	top: 1px;
	left: 205px;
	/* padding-left: 15px; */
	transition: .5s;
}
#TwoDLink :hover{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
}

#VideoLink{
	/* float: left; */
	/* position: absolute; */
	display: inline;
	top: 1px;
	left: 260px;
	/* padding-left: 15px; */
	transition: .5s;
}
#VideoLink :hover{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
}

#menuItem3 :hover{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
	cursor: pointer;
}
#menuItem4 :hover{
	filter: drop-shadow(30px 10px 4px #6e51ff);
	transition: .5s;
	cursor: pointer;
}

#menuItems li:nth-child(1){
	opacity: 0;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}
#menuItems li:nth-child(2){
	opacity: 0;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;

}
#menuItems li:nth-child(3){
	opacity: 0;
	animation-delay: 0.9s;
	animation-fill-mode: forwards;

}
#menuItems li:nth-child(4){
	opacity: 0;
	animation-delay: 1.15s;
	animation-fill-mode: forwards;
}
#artworkItemHover h1{
	color:inherit;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


/*----------------------Close Menu----------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
---------------------------------------------------------------*/


#nameToggle{
	height: 50%;
	width: 100%;
	background-color: gray;
}

#spinnerHolder{
	/* margin-top: 10%; */
	/* margin-left: 50%; */
	padding-top: 10%;
	width: 100vw;

}

#spinnerAligner{
	display: flex;
	justify-content: center;
	align-items: center;
}

#nameSpinner{
	/* display: inline; */
	cursor: pointer;
	text-align: center;
}
#nameSuffix{
	text-align: center;
	display: inline;
	
}


.spanNameLetter{
	/* animation-name: showSpinnerName; */
	animation-duration: 1.0s;
	animation-delay: 0.0s;
	animation-fill-mode: both;
	/* cubic-bezier(.215,.61,.355,1) */
	display: inline-block;
}

@keyframes showSpinnerName {
	0%{
		transform: translateY(-80%);
		opacity: 0;
	}
	5%{
		transform: translateY(-10%);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.spinnerFade-enter-active, .spinnerFade-leave-active {
	transition: opacity .5s;
}

.spinnerFade-enter, .spinnerFade-leave-to {
  opacity: 0;
}

.spinnerFade-move {
	transition: transform 1s;
}



#homePageAboutMeContainer{
	width: 100%;
	height: 50%;
	background-color: #000000;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------Animations---------------------------------*/
/*----------------------------------------------------------------------------*/

@keyframes menuBounce {
  0%{
		width: 100%;
			transform: translateY(-100%);  /*starts not visible*/
		}
	15%{
		width: 115%;
    transform: translateY(-100%);  /*starts not visible*/
  }
  40%{  /*left corner hits the bottom*/
    animation-timing-function: cubic-bezier(.28,.01,1,.56);
    transform: rotateZ(-6deg) skewX(-6deg) translate(-1%,-20%);
  }
  45%,48%{ /*left corner bounces up a bit and right corner starts to fall*/
    /*animation-timing-function: linear;*/
		animation-timing-function: ease-in;
    transform: rotateZ(-4deg) skewX(-4deg) translate(-1%,-12%);
  }
  55%{
    animation-timing-function: cubic-bezier(.44,0,1,.56);
    transform: rotateZ(-5deg) skewX(-5deg) translate(-1%,-15%);
  }
  70%{
    animation-timing-function: cubic-bezier(.44,0,1,.56);
    transform: translateY(0%)
  }
  100%{
		width: 100%;
    /*animation-timing-function: cubic-bezier(.44,0,1,.56);*/
		animation-timing-function: ease-in;
    transform: translateY(0%)

  }

}

@keyframes hideMenu {
	0%{
		transform: translateY(0%);
	}
	20%{
		transform: scaleY(1.2);
	}
	100%{
		animation-timing-function: linear;
		transform: translateY(-100%);
	}
}

@keyframes fadeInRight {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	25%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes expandRight {
  0% { opacity: 1; width: 0}
  100% { opacity: 1; width: 1 }
}


@keyframes scrollLoading {
	0%{
		transform: translateY(initial);
	}
	100%{
		transform: translateY(-105%);
	}
}

@keyframes scrollLoading2 {
	0%{
		transform: translateY(105%);
	}
	100%{
		transform: translateY(0px);
	}
}



/*----------------------------------------------------------------------------*/
/*---------------------------------END Anims----------------------------------*/
/*----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------*/
/*---------------------------------LOADING_CODE_SVG---------------------------*/
/*---------------------------------GROUP 1 SVG--------------------------------*/
/*----------------------------------------------------------------------------*/

#svg_loading_scroll{
	padding-left: 100px;
}

.cls-1,.cls-10,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{ stroke:#231f20;}
.cls-1,.cls-10,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke-miterlimit:10;}
.cls-1{fill:#7769af;}
.cls-2{fill:#a780ba;}
.cls-3{fill:#3f449b;}
.cls-4,.cls-6{fill:#3c2a7b;}
.cls-5{fill:#b9cfeb;}
.cls-7{fill:#fff;}
.cls-8{fill:#3b2e7c;}
.cls-9{fill:#3e429b;}
.cls-10{fill:#b9cfec;}


rect{
	opacity: 0;
	animation-name: expandRight;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

#line_1{

}

#line_2{
	animation-delay: 1.1s;
}

#line_3{
	animation-delay: 1.2s;
}

#line_4{
	animation-delay: 1.3s;
}

 #l5dash_1{
	animation-delay: 1.4s;
}

#l5dash_2 {
	animation-delay: 1.5s;
}

#l5dash_3 {
	animation-delay: 1.6s;
}

#l5dash_4{
	animation-delay: 1.7s;
}

#line_6{
	animation-delay: 1.8s;
}

#line_7{
	animation-delay: 1.9s;
}

#l8dash_1{
	animation-delay: 2.0s;
}

#l8dash_2{
	animation-delay: 2.1s;
}

#line_9{
	animation-delay: 2.2s;
}

#l10dash_1{
	animation-delay: 2.3s;
}

#l10dash_2{
	animation-delay: 2.4s;
}

.group1{
	animation-name: scrollLoading;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.4s;
	/*visibility: hidden;*/
}



/*----------------------------------------------------------------------------*/
/*---------------------------------GROUP 2 SVG--------------------------------*/
/*----------------------Code Scroll Loading animation-------------------------*/
/*----------------------------------------------------------------------------*/

.group2 rect{
	opacity: 0;
}

.group2{
	transform: translateY(105%);
	animation-name: scrollLoading2;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.4s;
}

.group2 #line_1{
	animation-name: line1;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes line1 {
	0%{
		opacity: 1;
		width: 0px;
	}
	3%{
		width: 0px;
	}
	13%{
		width: 78.44px;
	}
	98%{
		width: 78.44px;
	}
	99%{
		width: 0px;
	}
	100%{
		opacity: 1;
		width: 0px;
	}
}

.group2 #line_2{
	animation-name: line2;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes line2 {
	0%{
		width: 0px;
		opacity: 1;
	}
	2%{
		width: 0px;
	}
	12%{
		width: 213.16px;
	}
	98%{
		width: 213.16px;
	}
	99%{
		width: 0px;
	}
	100%{
		width: 0px;;
		opacity: 1;
	}
}

.group2 #line_3{
	animation-name: line3;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes line3 {
	0%{
		opacity: 1;
		width: 0px;
	}
	4%{
		width: 0px;
	}
	14%{
		width: 223.57px;
	}
	99%{
		width: 223.57px;
		opacity: 1;
	}
	100%{
		width: 0px;;
	}
}

.group2 #line_4{
	animation-name: line4;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes line4 {
	0%{
		width: 0px;
	}
	6%{
		width: 0px;
	}
	16%{
		width: 32.16px;
	}
	99%{
		width: 32.16px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l5dash_1{
	animation-name: l5d1;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l5d1 {
	0%{
		width: 0px;
	}
	8%{
		width: 0px;
	}
	18%{
		width: 78.44px;
	}
	99%{
		width: 78.44px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l5dash_2{
	animation-name: l5d2;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l5d2 {
	0%{
		width: 0px;
	}
	10%{
		width: 0px;
	}
	20%{
		width: 96.82px;
	}
	99%{
		width: 96.82px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l5dash_3{
	animation-name: l5d3;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l5d3 {
	0%{
		width: 0px;
	}
	11%{
		width: 0px;
	}
	21%{
		width: 47.81px;
	}
	80%{
		width: 47.81px;
	}
	81%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l5dash_4{
	animation-name: l5d4;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l5d4 {
	0%{
		width: 0px;
	}
	12%{
		width: 0px;
	}
	22%{
		width: 47.81px;
	}
	80%{
		width: 47.81px;
	}
	81%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #line_6{
	animation: line6 1.5s linear infinite;
	-moz-animation: line6 1.5s linear infinite;
	opacity: 1;
}

@keyframes line6 {
	0%{
		width: 0px;
	}

	18%{
		width: 0px;
	}
	28%{
		width: 95.74px;
	}
	60%{
		width: 95.74px;
	}
	61%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

@-moz-keyframes line6 {
	0%{
		width: 0px;
	}

	14%{
		width: 0px;
	}
	24%{
		width: 95.74px;
	}
	50%{
		width: 95.74px;
	}
	51%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #line_7{
	animation-name: line7;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes line7 {
	0%{
		width: 0px;
	}
	14%{
		width: 0px;
	}
	24%{
		width: 54.39px;
	}
	90%{
		width: 54.39px;
	}
	91%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l8dash_1{
	animation-name: l8d1;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l8d1 {
	0%{
		width: 0px;
	}
	10%{
		width: 0px;
	}
	20%{
		width: 127.85px;
	}
	90%{
		width: 127.85px;
	}
	91%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l8dash_2{
	animation-name: l8d2;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l8d2 {
	0%{
		width: 0px;
	}
	10%{
		width: 0px;
	}
	20%{
		width: 83.74px;
	}
	90%{
		width: 83.74px;
	}
	91%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #line_9{
	animation-name: line9;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes line9 {
	0%{
		width: 0px;
	}
	2%{
		width: 0px;
	}
	12%{
		width: 101.97px;
	}
	20%{
		width: 101.97px;
	}
	21%{
		width: 0;
	}
	99%{

	}
	100%{
		width: 0px;
	}
}

.group2 #l10dash_1{
	animation-name: l10d1;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l10d1 {
	0%{
		width: 0px;
	}
	8%{
		width: 83.74px;
	}
	21%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}

.group2 #l10dash_2{
	animation-name: l10d2;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes l10d2 {
	0%{
		width: 0px;
	}
	8%{
		width: 83.74px;
	}
	21%{
		width: 0px;
	}
	100%{
		width: 0px;
	}
}


/*----------------------------------------------------------------------------*/
/*---------------------------------OLD PORT-----------------------------------*/
/*----------------------------------------------------------------------------*/




#rectTest{
	animation: rectTestAnim 3s linear infinite;
	opacity: 1;
	background-color: red;
	fill: black;
}

@keyframes rectTestAnim {
	0%{
		width: 1px;
	}
	50%{
		width: 200px;
	}
	100%{
		width: 1px;
	}
}

/*p {
	font-family: verdana;
	font-size: 14px;
	font-color: black;
}



nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

nav li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #3779a3;
	color: white
}*/
