

#oneHolder{
    /* position: -webkit-sticky; /* Required for Safari */
    /* position: sticky; */
    /* top: 50%;  */
}

#spacer {
    height: 1px;
    position: relative;
    margin-bottom: 80vh;
}

#oneTop{
    height: 1px;
    position: relative;
    margin-bottom: 50vh;
}

#oneBot{
    height: 1px;
    margin-bottom: 55vh;
    position: relative;
}

#twoBot{
    height: 50%;
    position: relative;
}

.sticky {
    position: -webkit-sticky; /* Required for Safari */
    position: sticky; 
    text-align: right;
    top: 50%;
    height: 50px;
    padding-right: 35vw; 

}

#one{
    /* position: -webkit-sticky; /* Required for Safari */
    /* position: sticky; */
    text-align: right;
    height: 50px;
    padding-right: 35vw; 
}

#two{
    text-align: right;
    height: 50px;
    padding-right: 35vw; 

}

#three{
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    text-align: right;
    height: 50px;
    margin-top: 100vh;
    top: 50%;
    padding-right: 35vw;

}

#four{
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    text-align: right;
    height: 50px;
    margin-top: 100vh;
    top: 50%;
    padding-right: 35vw;

}

#five{
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    text-align: right;
    height: 50px;
    margin-top: 100vh;
    top: 50%;
    /* margin-bottom: 0vh; */
    padding-right: 35vw; 

}


#break{
    height: 100vh;
}